.top-bar {
  background-color: black!important;
  width: 100%;
}

.dropdown, .menu {
  background-color: black!important;
}

.container {
  margin:
}

.sticky-topbar {
  width: 100%;
}

.bigpic {
  width: 100%;
  height: 30vw;
}

.columns {
  padding: 0px;
}

.logo {
  position: relative;
  top: 50px;
  left: -20px;
  padding-bottom: 20px;
}

/*ul {
  position: relative;
}*/

.top-bar-left {
    /*position: relative;
    height: 50px;
    }*/
